main {
    width: 100%;
    display: flex;
    flex-direction: row;
}
 
body {
    background-color: #2F39A9;
    padding: 20px;
}
 
.column {
    display: flex;
    flex-direction: column;
    background-color: #2E6FA0;
    color: #49A4BB;
    padding: 20px;
    width: 80%;
}
 
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    border-top: #2F39A9 2px double;
    gap: 20px;
    justify-content: space-between;
}
 
.pie {
   display: flex;
    flex-direction: column;
    background-color: #89ccff;
    color: #01286f;
    padding: 10px;
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
 
#google {
    color: #0c0c0b;
}
 
.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    height: 300px;
    gap: 20px;
    box-sizing: border-box;
}
 
aside {
    width: 200px;
    background-color: #569cd1;
    padding: 15px;
}
 
#uno, #tres, #cinco, #siete {
    width: 25%;
    height: 300px;
    background-image: url('../practicaArturo/imgnata.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 2px solid #d7e6f2;
}
 
#dos, #cuatro, #seis, #ocho {
    width: 25%;
    height: 300px;
    background-color: #dbe6ef;
    background-image: linear-gradient(to bottom, #15D8B3, #2f6d7c);
    border-radius: 15px;
    border-right: 2px solid #2F39A9;
}
 
#arturito {
    width: 25%;
    height: 300px;
    border-radius: 15px;
    background-color: #c1dae0;
    padding: 10px;
    box-sizing: border-box;
}
 
#gallito, #gordita {
    width: 25%;
    height: 300px;
    background-color: #49A4BB;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
#gallito img, #gordita img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}